header {
    height: 44px;
    width: 100%;
    text-align: center;
    background-color: #81a9c3;
    color: #fff;
    line-height: 44px;
    font-size: 20px;
    margin-top:-6px;
}
::-webkit-scrollbar {/*滚动条整体样式*/
    width: 2px; /*高宽分别对应横竖滚动条的尺寸*/
    /* height: 4px; */
    /* background-color: rgb(161, 168, 175,0.3); */
    }

.MainBody{
    width: 100%;
    background-color: #fff;
}
.ManageBody{
    margin-left:-2%;
margin-top: 20px;
width: 34%;
min-height:780px;
max-height: 960px;
background: rgba(210, 229, 250, 0.4);
float: left;
border-radius: 20px;
}
.ListBody{
    float: left;
    margin-left:1%;
    left: 0px;
margin-top: 20px;
width: 62%;
min-height: 780px;
max-height: 960px;
opacity: 1;
border-radius: 10px;
background: rgba(210, 229, 250, 0.4);
}
.ChildrenManageBody{
    margin-left: 1%;
    margin-top: 20px;
    width: 37%;
    min-height:780px;
    max-height: 960px;
    opacity: 1;
    background: rgba(210, 229, 250, 0.4);
    float: left;
    border-radius: 20px;
}
.ChildrenListBody{
    float: left;
    margin-left:1%;
    left: 0px;
margin-top: 20px;
width: 57%;
min-height: 780px;
max-height: 960px;
opacity: 1;
border-radius: 20px;
background: rgba(210, 229, 250, 0.4);
}


.DetailedInfoTimeBody{
    width: 98%;
    min-height: 200px;
    max-height: 250px;
    margin-top: 1px;
    margin-left: 1%;
    border-radius: 10px;
    background-color: #fff;
}
.DetailQuestBody{
    width: 98%;
    min-height: 210px;
    max-height: 230px;
    margin-top: 13px;
    margin-left: 1%;
    border-radius: 10px;
 }
 .DetailMainBody{
    width: 100%;
    min-height: 780px;
    max-height: 960px;
    background: rgba(210, 229, 250, 0.4); 
}
.DetailedInfoBody{
    left: 0px;
    margin-top: 10px;
    width: 65%;
    min-height: 780px;
    max-height: 960px;
    opacity: 1;
    border-radius: 20px;
    float: left;
}
.DetailRightBody{
    margin-left: 1%;
    margin-top: 20px;
    width: 29%;
    min-height:780px;
    max-height: 960px;
    opacity: 1;
    float: left;
    border-radius: 20px;
}
.BasicsInfoBody{
    width: 97%;
    min-height:430px;
    max-height: 460px;
    border-radius: 28px;
background: rgba(204, 204, 204, 0.4);
padding-top: 10px;
padding-left:20px;
}
.BasicInfoButton{
    border-radius: 30px;
    background: rgba(255, 141, 26, 0.8);
    height: 30px;
    width: 40%;
    text-align: center;
    line-height: 30px;
}
.PastInfoBody{
    width: 97%;
    min-height:230px;
    max-height: 240px;
    border-radius: 28px;
background: rgba(204, 204, 204, 0.4);
padding-top: 10px;
padding-left:20px;
margin-top: 10px;
}
.TitleBody{
margin:0 auto;
margin-top: 13px;
width: 90%;
height: 80px;
opacity: 1;
border-radius: 30px;
background: rgba(255, 141, 26, 0.8);

}
.Nickname{
    left: 67px;
    top: 47px;
    opacity: 1;
    /** 文本1 */
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 80px;
    color: rgba(0, 0, 0, 1);
    text-align: center;    
}
.QuestList{
margin:0 auto;
margin-top: 10px;
width: 90%;
height: 600px;
opacity: 1;
border-radius: 28px;
background: rgba(204, 204, 204, 0.4);
}
.Statistics{
    padding-top:30px
}
.Statistics li:first-child{
    margin-left:3%;
}
.QuestS1{
    height: 40px;
    width: 95%;
}
.QuestLi1{
    margin-left:2%;
    float: left;
    width: 23%;
    height: 25px;
    opacity: 1;
    border-radius: 10px;
    background: rgba(204, 204, 204, 1);
    }
.typefaceLi{
    text-align: center;
    line-height: 25px;
    font-size: 12px;
}
.Statistics li{
    margin-left: 10px;
    height: 30px;
}
.QuestLi2{
    margin-top:2%;
    margin-left:3%;
    float: left;
    width: 23%;
    height: 25px;
    font-size: 10px;
    opacity: 1;
    }
.QuestLiButton{
    float: left;
    width: 20%;
    height: 20px;
    font-size: 10px;
    opacity: 1;
    background: rgba(255, 141, 26, 0.8);
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
}
.historyBody{
    margin:0 auto;
    margin-top: 10px;
    padding-top: 2%;;
    width: 96%;
    height: 72px;
    opacity: 1;
    border-radius: 30px;
    background: rgba(204, 204, 204, 0.4);
}
.NewQuestBody{
    padding-top: 2%;
    margin:0 auto;
    margin-top: 5px;
    width: 96%;
    height: 505px;
    opacity: 1;
    border-radius: 30px;
    background: rgba(204, 204, 204, 0.4);
}
.historyname{
margin-left:2%;
height: 25px;
float: left;
width: 20%;
}
.historyButton{
    width: 66px;
    border-radius: 10px;
    background: rgba(255, 235, 59, 0.56);
    text-align: center;
    line-height: 25px;
    font-size: 12px;
}
.filloutName{
    font-size: 14px;
    margin-top:4%;
    margin-left:6%;
}
.NewQuestname{
    margin-left:2%;
    height: 25px;
    float: left; 
    width: 20%;
}
.NewQuestButton{
    width: 70px;
    opacity: 1;
    height: 25px;
    border-radius: 10px;
    background: rgba(255, 141, 26, 0.8);
    text-align: center;
    line-height: 25px;
    font-size: 12px;
}
.legendBody{
    margin-top:-1%;
    float: left;
    width: 71%;
    height: 70px;
    opacity: 1;
    background: rgba(255, 255, 255, 1); 
    font-size: 12px;
    padding:5px 0px 0 10px
}
.CollectionBody{
    margin-top:-1%;
    float: left;
    width: 75%;
    height: 70px;
    opacity: 1;
}
.InfoBodyType{
    width: 18%;
    float: left;
    font-size: 12px;
}
.InfoBody{
    width: 30%;
    float: left;
    font-size: 12px;
}
.CirleBody{
    width: 25%;
    float: left;
}
.CirleName{
    width: 75px;
    height: 75px;
    opacity: 1;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    border: 1.24px solid rgba(91, 143, 249, 1);
}
.CirleName p{
    font-size: 10px;
    text-align: center;
    margin-top:10px;
    line-height: 20px;
}
.ConformButton{
    width: 65px;
    height: 25px;
    opacity: 1;
    background: rgba(255, 235, 59, 0.56);
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    border-radius: 10px;
}
#QuestTable{
    margin: 0 auto;
    min-width: 500px;
    max-width: 560px;
    min-height: 100px;
    border-collapse: collapse; 
}
#QuestTable td:nth-child(1) {
    text-align: left;
    width:45%;
    font-size: 12px;
    height: 50px;
}
#QuestTable td{
    width: 15%;
    height: 50px;
}
.Unchecked{
    margin: 0 auto;
    width: 20px;
    height: 20px;
    opacity: 1;
    border-radius: 50%;
    background: rgba(204, 204, 204, 1);
     
}
.checkedbody{
    margin: 0 auto;
    width: 20px;
    height: 20px;
    opacity: 1;
    border-radius: 50%;
    background: rgba(0, 0, 0, 1);
}
#CommonTable{
    margin: 0 auto;
    min-width: 500px;
    max-width: 560px;
    min-height: 100px;
    border-collapse: collapse;  
}
#CommonTable td:nth-child(1) {
    text-align: left;
    width:50%;
    font-size: 12px;
    height: 50px;
}
#CommonTable td:nth-child(2){
    width: 15%;
    height: 50px;
    font-size: 12px;
}
#CommonTable td:nth-child(3){
    width: 40%;
    height: 50px;
    text-align: center;
    font-size: 12px;
}
.playback{
    width: 20px;
    height: 20px;
    /* background: url('../image/playback.png') no-repeat center; */
    /* 代表与界面独立s  */
	background-size: contain; 
    margin: 0 auto;
}
/* 儿童综合信息管理界面 */
.ChildrenInfoBody{
margin:0 auto;
margin-top: 10px;
width: 90%;
height: 600px;
opacity: 1;
border-radius: 28px;
background: #fff;
overflow-y: scroll;
}
#ChildrenMainBody{
    width: 80%;
    height: 40px;
    /* border-bottom: rgba(0, 0, 0, 0.1) solid 1px; */
}
#ChildrenMainBody li{
    height: 40px;
    list-style: none;
    font-size: 14px;
}
.CheckedLi{
    height: 40px;
    font-size: 14px;
    background: rgba(255, 141, 26, 0.8);
    width: 100%;
}
.InfoMainLi1{
   float: left; 
   margin-top: 15px;
   width: 24%;
}
.InfoMainLi2{
    float: left;
    margin-left: 3%; 
    margin-top: 15px;
    width: 73%;
 }
 .JudgeButton{
    background:rgba(255,141,26,0.8);
    border:1px solid #fff;
    padding:3px 5px;
    border-radius: 5px;
    margin-left: 30%;
    text-align: center;
    font-size: 15px;
 }
 .ChildrenTimeBody{
     width: 98%;
     min-height: 200px;
     max-height: 250px;
     margin-top: 13px;
     margin-left: 1%;
     border-radius: 10px;
     background-color: #fff;
     overflow:scroll;
 }
 .ChildrenQuestBody{
    width: 98%;
    min-height: 210px;
    max-height: 230px;
    margin-top: 13px;
    margin-left: 1%;
    border-radius: 10px;
    background-color: #fff; 
 }
 .ChildrenQuestButton{
    width: 98%;
    min-height: 30px;
    max-height: 50px;
    margin-top: 13px;
    margin-left: 1%;
    border-radius: 10px;
 }
 #TimeLine{
     width: 100%;
     min-height: 200px;
     max-height: 250px;
     margin:0 auto;
 }
 #TimeLine ul li{
     list-style: none;
     float: left;
     width: 36%;
     min-height: 180px;
     max-height: 200px;
     margin-left: -3%;
     font-size: 14px;
 }
 .FontMainbody{
     width: 103%;
     height: 160px;
    border-bottom:rgba(204, 204, 204, 1) solid 1px ;  
    overflow: scroll;
 }
 .TimeBox{
    width: 10px;
    height: 10px;
    opacity: 1;
    /* position: absolute; */
    margin-left:50%;
    margin-top: -6px;
    /* transform:translateY(-10%); */
    background: rgba(166, 166, 166, 0.61);
    border-radius: 50%;
 }
.TimeBottom{
   margin-top:3px;
   margin-left: 10px;
}
.FontInfo:first-child{
    padding-top: 45px;
    font-size: 9px;
}
.FontInfo{
    padding-top: 15px;
    font-size: 9px;
}
.TimeDataBody{
    float: left;
    width: 20%;
    height: 100%;
    margin-left: 1%;
    min-height: 200px;
    max-height: 220px;
}
#TimeInfoBody{
    float: left;
    width: 75%;
    height: 100%;
    margin-left: 3%;
    min-height: 200px;
    max-height: 220px;
}
#TimeInfoBody1{
    float: left;
    width: 75%;
    height: 100%;
    margin-left: 3%;
    min-height: 200px;
    max-height: 220px;
}
.TimeCirle{
    margin-top:50px;
    background: rgba(255, 141, 26, 0.61);
    width: 85px;
    height: 85px; 
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
    font-size: 11px;
}
.QuestNum{
    float: left;
    width: 25%;
    margin-top:10px;
}
.QuestResult{
    float: left;
    width: 75%;
}
.QuestInfoDetail{
    width: 85%;
    float: left;
    min-height: 23px;
}
.QuestButton{
    float: left;
    width: 12%;
    height: 16px;
    /* background: rgba(255, 141, 26, 0.61); */
    background-color: rgba(204, 204, 204, 0.4);
    border-radius: 5px;
    line-height: 16px;
    text-align: center;
}
.TimeLineInfo{
    width: 100%;
    height: 40px;
    margin-top:10px;
    font-size: 11px;
}
.TimeCirleAdd{
    margin-top:50px;
    background: rgba(166, 166, 166, 0.61);;
    width: 85px;
    height: 85px; 
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
    font-size: 11px;
}
.NewCheckQuest{
    float: right;
    margin-right: 10px;
    height: 40px;
    width: 120px;
    background: rgba(255, 141, 26, 0.8);
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
}
.SwitchBody{
    width: 35%;
    height: 30px;
    background: rgba(204, 204, 204, 1);
    margin-left: 3%;
    margin-top:3%
}
.tab_nav_item{
    float: left;
    width: 50%;
    height:30px;
    line-height: 30px;
    text-align: center;
}
.tab_nav_itemChecked{
    float: left;
    width: 50%;
    height:30px;
    line-height: 30px;
    text-align: center;
    background: rgba(255, 141, 26, 0.8);
}
.ChildrenSurveyBody{
    margin-top: 5px;
    width: 95%;
    min-height: 105px;
    max-height: 120px;
    border-radius: 10px;
    background: rgba(204, 204, 204, 0.4);
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
}
.BasicSurveyLiBody{
    margin-top:5px;
    height: 30px;
    line-height: 30px;
}
.ChildrenSurveyInfo{
    width: 20%;
    height:10px;
    float: left;
}
.ChildrenSurveyInfoButton{
    width: 70%;
    height:20px;
    float: left;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    background: rgba(255, 141, 26, 0.8);
}
.NeosMainBody{
    margin-top: 10px;
    width: 98%;
    min-height: 780px;
    max-height: 830px;
    background: rgba(210, 229, 250, 0.4);
    border-radius: 10px;
}
.ChildrenSurveyInfoBody{
    min-height: 60px;
    width: 100%;
    padding-top: 10px;
}
.ChildrenInfoliBody{
    width: 52%;
    float: left;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
}
.ChildrenInfoAction{
    width: 41%;
    float: left;
    margin-left: 2%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-radius: 5px;
}
.RecordText{
    float: left;
    margin-left:1%;
    width: 35%;
    font-size: 13px;
}
.RecordBody{
    float: left;
    width: 62%;
}
.RecordImg{
    margin-top:4%;
    min-width: 20px;
    max-width: 26px;
    min-height: 20px;
    max-height: 26px;
    margin-left:12px;
}
.CompletedBody{
    min-height: 150px;
    width: 96%;
    margin-top:20px;
}
.TodayCompleteLeft{
    width: 20%;
    min-height: 90px;
    line-height: 90px;
    text-align: center;
    float: left;
}
.TodayCompleteRight{
 float: left;
 margin-left: 5%;
 width: 75%;
 min-height: 130px;
 background-color: #fff;
 border-radius: 10px;
}
.QuestManageTextCommon{
    color:#000;
    text-align: center;
    margin-top:10px;
}
.QuestBodyDiv{
    width: 45%;
    float: left;
}
.SdqQuestCircle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(42, 130, 228, 1);
    line-height: 120px;
    text-align: center;
    margin-left: 10%;
    margin-top:5px;
    color: #fff;
}
.CaiQuestCircle{
    width:120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(255, 141, 26, 1);
    line-height: 120px;
    text-align: center;
    margin-left: 10%;
    margin-top:5px;
    color: #fff;
}
.MovementCircle{
    width:120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(165, 214, 63, 1);
    line-height: 120px;
    text-align: center;
    margin-left: 10%;
    margin-top:5px;
    color: #fff;
}
.AttachCircle{
    width:120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(121, 72, 234, 1);
    line-height: 120px;
    text-align: center;
    margin-left: 10%;
    margin-top:5px;
    color: #fff;
}
.InvestigateMainBody{
    width: 96%;
    min-height: 200px;
    max-height: 220px;
    margin-top: 30px;
    margin-left: 2%;
}
.InvestigateInfoBody{
    width: 46%;
    float: left;
    min-height: 200px;
    max-height: 220px;
    margin-left:4%
}
.InvestigateInfo{
    padding-top: 10px;
    margin-left:10px;
}
.InvertigateQuestBody{
    width: 100%;
    min-height: 130px;
    padding-top: 10px;
}
/* 新问卷 */
.FillInNewQuestBody{
    padding-top: 2%;
    margin:0 auto;
    margin-top: 15px;
    width: 96%;
    min-height: 605px;
    max-height: 800px;
    /* overflow-y: scroll; */
    border-radius: 30px;
    background: rgba(204, 204, 204, 0.4);
}
#FillInQuestTableBody{
    padding-top:10px;
    height: 500px;
    width: 100%;
    overflow-y: scroll;
}
.QuestLiContent{
    height:100px;
    width:100%;
    float:right;
    overflow-y: scroll;
    margin-left: 5px;
    padding-top: 10px;
    border-bottom: 1px solid #fff;
}
.HeaderText{
    float: left;
    width: 47%;
    padding-left: 20px;
}
.HeaderConform{
    float: left;
    width: 12%
}
.FillInConformButton{
    width: 65px;
    height: 25px;
    opacity: 1;
    background: rgba(255, 235, 59, 0.56);
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    border-radius: 10px;
}
.FillInNewQuestButton{
    min-width: 90px;
    max-width: 120px;
    opacity: 1;
    height: 25px;
    border-radius: 10px;
    background: rgba(255, 141, 26, 0.8);
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}
/* #FillInQuestTable{
    margin: 0 auto;
    min-width: 560px;
    max-width: 600px;
    height: 40px;
    background-color: black;
    border-collapse: collapse; 
} */
.FillIncheckedbody{
    margin: 0 auto;
    width: 20px;
    height: 20px;
    opacity: 1;
    border-radius: 50%;
    background: rgba(0, 0, 0, 1);
}
/* 新增儿童信息 */
#NewChildrenForm{
  margin-left:5%;  
}
#NewChildrenForm table tr{
    height: 40px;
    margin-top:10px;
}
#QusetCheckbox{
    width: 17px;
    height: 17px;
    color: rgba(204, 204, 204, 1);
    background: rgba(204, 204, 204, 1) !important;
    margin-left: 5%;
    line-height: 20px;   
    margin-top:5px; 
}
.QuestCheckText{
    margin-left:5px;
    font-size:12px;
}
.RecordInfoliBody{
    width: 28%;
    float: left;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
}
.SurveryCircleBody{
    width: 24%;
    margin-left: 1%;
    float: left;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px; 
}
.SurvesyInfoTextBody{
    float: right;
    width: 70%;
    height: 40px;
}
.SDQanswerBody{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    margin-left: 10%;
    line-height: 40px;
    text-align: center;
    background-color: rgba(42, 130, 228, 1);
}
#RecordInviewBody{
    padding-top:10px;
    height: 500px;
    width: 100%;
    overflow-y: scroll;
}
.InterViewText{
    float: left;
    width: 80%;
    padding-left: 10px;
}
.QuestRecordAction{
    float: left;
    margin-left:10px;
    width: 8%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 141, 26, 0.8);
    font-size: 14px;
}
.QuestFinishAction{
    float: left;
    margin-left:10px;
    width: 8%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    background: rgba(212, 210, 209, 0.8);
    font-size: 14px; 
}